<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdm.uniovi.braingame" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>

        <activity android:name=".LogingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".RegistroActivity"
            android:parentActivityName=".LogingActivity"/>

        <activity android:name=".estadisticas.EstadisticasActivity"/>

        <activity android:name=".juegos.recordar.MainActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".juegos.calcular.MainActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".juegos.leer.MainActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".juegos.ordenar.MainActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".juegos.leer.ActivityDificultad"
            android:parentActivityName=".juegos.leer.ActivityDificultad"/>
        <activity android:name=".juegos.leer.JuegoLeer"
            android:parentActivityName=".juegos.leer.JuegoLeer"/>

    </application>

</manifest>
