<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdm.uniovi.braingame" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permision.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".LogingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:parentActivityName=".LogingActivity" />
        <activity android:name=".estadisticas.EstadisticasActivity" />
        <activity
            android:name=".juegos.recordar.MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AyudaPrincipalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".juegos.calcular.MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".juegos.calcular.DificultadActivity"
            android:parentActivityName=".juegos.calcular.MainActivity" />
        <activity
            android:name=".juegos.calcular.JuegoCalcular"
            android:parentActivityName=".juegos.calcular.DificultadActivity" />
        <activity
            android:name=".juegos.conocer.MainActivity"
            android:parentActivityName=".juegos.conocer.MainActivity" />
        <activity
            android:name=".juegos.conocer.ActivityDificultad"
            android:parentActivityName=".juegos.conocer.ActivityDificultad" />
        <activity
            android:name=".juegos.conocer.JuegoResponder"
            android:parentActivityName=".juegos.conocer.JuegoResponder" />
        <activity
            android:name=".juegos.leer.MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".juegos.ordenar.MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".juegos.leer.ActivityDificultad"
            android:parentActivityName=".juegos.leer.ActivityDificultad" />
        <activity
            android:name=".juegos.leer.JuegoLeer"
            android:parentActivityName=".juegos.leer.JuegoLeer" />
        <activity
            android:name=".juegos.ordenar.ActivityDificultad"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".juegos.corresponder.ActivityDificultad"
            android:parentActivityName=".juegos.corresponder.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.corresponder.MainActivity"
            android:parentActivityName=".juegos.corresponder.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.completar.MainActivity"
            android:parentActivityName=".juegos.completar.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.completar.JuegoCompletar"
            android:parentActivityName=".juegos.completar.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.recordar.ActivityDificultad"
            android:parentActivityName=".juegos.recordar.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.ordenar.ActivityInicio"
            android:parentActivityName=".juegos.ordenar.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.corresponder.ActivityInicio"
            android:parentActivityName=".juegos.corresponder.MainActivity" >
        </activity>
        <activity
            android:name=".juegos.recordar.ActivityInicio"
            android:parentActivityName=".juegos.recordar.MainActivity" >
        </activity>
    </application>

</manifest>
